body{
    background-color: olive;
}


#flex-parent{
    background-color: orangered;
    display: flex;
}
#flex-parent p{
    padding:5vw;
}

#flex-child1{
 order: 3;
}
#flex-child2{
 order: 4;
}
#flex-child3{
 order: 2;
}
#flex-child4{
 order: 1;
}


#grid-parent{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1fr 1fr 1fr 1fr;
}

#grid-parent h1{
    background-color: grey;
    padding:3vw 5vh;
    margin:5vw;
    
}
#no0{
    color: blue;
}
#no1{
    color: aqua;
}
#no2{
    color: blueviolet;
}
#no3{
    color: aquamarine;
}
#no4{
    color: brown;
}
#no5{
    color: black;
}
#no6{
    color: lavender;
}
#no7{
    color:bisque
}
#no8{
    color: chartreuse;
}
#no9{
    color: deeppink;
}